header
  .container.text-center
    img#myimage(src='http://emojipedia-us.s3.amazonaws.com/cache/50/56/5056b8137cf8a65d48df29ceb499b50f.png', width=60)
    h1 Mangrove Places
    h4 Find your next house
