extends layout-listing-list

block content
  .row
    .col-md-4.listing-single
      img#listing-image(src='http://lorempixel.com/300/250/city')
      div.listing-owner
        img#listing-owner-pic(src='http://lorempixel.com/100/100/people')
        span#listing-owner-name.bold @name 
      div.bold
        span#address City, Country  . 
        span#listing-name Listing Name
      div 
        span#price <i class="fa fa-home"></i> 1200€ / Month  . 
        span#listing-date Aug-Oct
      div 
        span#listing-duration Max. 7 days

    .col-md-4.listing-single
      img#listing-image(src='http://lorempixel.com/300/250/city')
      div.listing-owner
        img#listing-owner-pic(src='http://lorempixel.com/100/100/people')
        span#listing-owner-name.bold @name 
      div.bold
        span#address City, Country  . 
        span#listing-name Listing Name
      div 
        span#price <i class="fa fa-home"></i> 1200€ / Month  . 
        span#listing-date Aug-Oct
      div 
        span#listing-duration Max. 7 days

    .col-md-4.listing-single
        img#listing-image(src='http://lorempixel.com/300/250/city')
        div.listing-owner
          img#listing-owner-pic(src='http://lorempixel.com/100/100/people')
          span#listing-owner-name.bold @name 
        div.bold
          span#address City, Country  . 
          span#listing-name Listing Name
        div 
          span#price <i class="fa fa-home"></i> 1200€ / Month  . 
          span#listing-date Aug-Oct
        div 
          span#listing-duration Max. 7 days

    .col-md-4.listing-single
      img#listing-image(src='http://lorempixel.com/300/250/city')
      div.listing-owner
        img#listing-owner-pic(src='http://lorempixel.com/100/100/people')
        span#listing-owner-name.bold @name 
      div.bold
        span#address City, Country  . 
        span#listing-name Listing Name
      div 
        span#price <i class="fa fa-home"></i> 1200€ / Month  . 
        span#listing-date Aug-Oct
      div 
        span#listing-duration Max. 7 days

    .col-md-4.listing-single
      img#listing-image(src='http://lorempixel.com/300/250/city')
      div.listing-owner
        img#listing-owner-pic(src='http://lorempixel.com/100/100/people')
        span#listing-owner-name.bold @name 
      div.bold
        span#address City, Country  . 
        span#listing-name Listing Name
      div 
        span#price <i class="fa fa-home"></i> 1200€ / Month  . 
        span#listing-date Aug-Oct
      div 
        span#listing-duration Max. 7 days

    .col-md-4.listing-single
      img#listing-image(src='http://lorempixel.com/300/250/city')
      div.listing-owner
        img#listing-owner-pic(src='http://lorempixel.com/100/100/people')
        span#listing-owner-name.bold @name 
      div.bold
        span#address City, Country  . 
        span#listing-name Listing Name
      div 
        span#price <i class="fa fa-home"></i> 1200€ / Month  . 
        span#listing-date Aug-Oct
      div 
        span#listing-duration Max. 7 days      
