extends layout-listing-list

block content
  .row
    .col-md-4
    img#listing-image 
      div
        span#address City, Country  .
        span#listing-name Listing Name
      div 
        span#price 1200€ / Month  .
        span#listing-date Aug-Oct
      div 
        span#listing-duration Max. 7 days