.btn {
  border-radius: 6px;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  border: none;
  padding: 12px 30px;
}

.btn-dark {
  background-color: #4a4a4a;
}

.btn-red {
  background-color: #ff512f;
}