.input-plain-grey{
  padding: 15px 20px;
  background-color: #f6f8fa;
  border: none;
  border-radius: 5px;
  display: block;
  max-width: 300px;
  width: 100%;
  margin: auto;
  font-family: "Proxima_regular";
  box-sizing: border-box;
  outline: 0;
}

.form-group {
  label {
    float: left;
    font-size: 19px;
  }
}

.form-group input:focus, .form-group select:focus{
    outline: none !important;
    border:1px solid #ff512f;
    box-shadow: 0 0 10px #ff512f;
}