.input-plain-grey{
  padding: 15px 20px;
  background-color: #f6f8fa;
  border: none;
  border-radius: 5px;
  display: block;
  max-width: 300px;
  width: 100%;
  margin: auto;
  font-family: "Proxima_regular";
  box-sizing: border-box;
  outline: 0;
}

.form-group {
  label {
    float: left;
    font-size: 19px;
  }
}

.form-group input:focus, .form-group select:focus{
    outline: none !important;
    border:1px solid #ff512f;
    box-shadow: 0 0 10px #ff512f;
}

.suggestions-container {
  border: 1px solid #000;
  box-shadow: 0px 5px rgba(12, 12, 12, 0.45);
  width: 100%;
background : #ffffff;
  z-index: 1000;
  position: absolute;
display : none;
}
.suggestions-container-row {
  padding: 5px;
  border: 1px dashed #9191e9;
  margin: 5px;
}